#bordes {padding:0px 100px 30px 100px }

#ultrathin {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 80px;
}
#futura {
    font-family: "futura";
    font-weight: normal;
    font-size: 30px;
    color:deepskyblue;
}
img{
    border-radius: 20px;
    width: 25em;
    height: auto;
    filter: saturate(0);
}
a:hover img {
    filter: saturate(1);
}
.flex{
    display:flex;
    flex:auto;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
}