
/* Menú */
table{
    position: fixed;
    z-index: 5;
    margin-top: 100px;
    opacity: 0.8;
    margin: 0 auto; 
    background-color: black; 
    width: 99%; 
    height: 100px}
th{width: 200px;}
th:hover{
    background: #555;
    position: relative;
    left: 6px;
}
/* Header */
div {
    width: 100%;
    height: 700px}
#imagen {
    background-image: url(imagen/fondo.jpg);
    background-size: cover ;
    background-position: center;
}
#cabecera{
    font-family: "helvetica neue";
    font-weight: lighter;
    font-size: 13pt;
    text-decoration:none;
    color: white;
}

/* Section */
#centro{
    padding: 300px;
    font-family: "helvetica neue";
}
#espacio{
    margin-top: 200px;
}
h1 {
    font-weight: lighter;
    font-size: 28pt;
    letter-spacing: 2px;
}

h2 {
    font-weight: lighter;
    color: gray;
    font-size: 12pt;
    letter-spacing: 1px;
} 
p {line-height: 1.8;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 19pt;
} 
ul {line-height: 4;
    font-weight: lighter;
    list-style-type: none;
    padding-left: 0;
    font-size: 14pt;
}
#sub:hover {  
    text-decoration: none; 
    text-decoration: underline; 
    color: mistyrose}

#tachado:hover {
    text-decoration: none; 
    text-decoration-line: line-through; }

/* Footer */
#pie{
    font-family: "helvetica neue";
    font-weight: normal;
    color: white;
    font-size: 28pt;
    line-height: 100px
}